<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Login Frutas Sandra</title>
        <link href="css/identificacion.css" rel = "stylesheet" type="text/css" />
    </head>

    <body>

        {% block formulario %}
            <form class="box" action="login.php" method="post">
            <a href="./index.php"><img class="logo" src="/imgs/Logo.png"/></a>
            <h1>Inicio de sesión</h1>
            <input type="text" name="nombreUsuario" placeholder="Nombre de usuario...">
            <input type="password" name="contraseña" placeholder="Contraseña...">

            {% for e in errores%}
            <p style="color: #f00;">{{e}}</p>
            {% endfor %}
            
            <input type="submit" value="Entrar">
            <p>¿No tienes cuenta? <a href="./registro.php">Registrate</a></p>
            <a href="./index.php">Volver a la página de inicio</a></p>
            </form>
            {% endblock %}

            

           
        



    </body>


</html>