body{
    margin:0 ;
    padding: 0;
    font-family: sans-serif;
    background:#7bed9f ;
}


.Informacion{
    width: 700px;
    height: 800px;
    padding: 40px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:#ffffff ;
    text-align: center;
    border-radius: 12px;
    overflow-y: scroll;
    
}

.box h1,h2{
    text-transform: uppercase;
    font-weight: 500;
    

}

button{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ed573;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}



.sensor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    text-align: start;
}

li{
    margin-top: 20px;
}
    
.Informacion input{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ed573;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}

.Informacion input:focus,.box input:focus{
    width: 280px;
    border-color:#064420 ;

}

.Informacion input[type= "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.Informacion input[type= "submit"]:hover{
    background:#b7f8d2 ;
}

.Informacion button:hover{
    background:#b7f8d2 ;
}

p{
    text-align: start;
}

form{
    display: flex;
    text-align: center;
}