body{
    margin:0 ;
    padding: 0;
    font-family: sans-serif;
    background:#7bed9f ;
}


.box{
    width: 1200px;
    padding: 20px;
    position: absolute;
    top:64%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:#ffffff ;
    text-align: center;
    border-radius: 12px;
}

.box h1,h2{
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ed573;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    transition: 0.25s;
}


.box input[type="file"]{
    
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 350px;
    outline: none;
    border: 2px solid #2ed573;
}

.box input[type="date"]
{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border: 2px solid #2ed573;
}


.box input:focus,.box input:focus{
    width: 280px;
    border-color:#064420 ;

}

.box input[type= "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type= "submit"]:hover{
    background:#b7f8d2 ;
}

.datosInicio, .etiquetas, .datosEvento{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.descripcion{
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    width: 600px;
    height: 200px;
    outline: none;
    border: 2px solid #2ed573;
}

.galeria1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

