{% extends "padre.html" %}


            {% block Estilo %}
            <link href="css/estiloComentarios.css" rel = "stylesheet" type="text/css" />
            
            {% endblock %}

            {% block Comentarios %}
           <div id="cm" class="Comentarios" >
          
            <div class="listaCom" id="lc">
                
                {% for cm in comentario %}
                <h2 class="comentarioModerador">{{ cm ['nombre'] }} comento {{ cm ['fecha'] }} 
                    
                    {% if datosUsuario.tipo=='moderador' or datosUsuario.tipo=='super' %}
                    <button  title="Editar comentario" onclick="cambiarTexto('{{ cm.comentario }}' , '{{ cm.identificador }}')" class="mod" ><img src="imgs/lapiz.png"></button>
                    <form class="box2" action="" method="post">
                        <input type="hidden" name="idComentario" value="{{ cm ['identificador']}}">
                        <button type="submit" title="Borrar comentario" class="mod" name="submit3" value="borrar"><img src="imgs/goma.png"></button>
                    </form>
                    {% endif %}
                
                </h2>
                {% if cm.editado==1 %}
                <h4>Comentario editado por moderador</h4>
                {% endif %}

                <p >{{ cm ['comentario'] }}</p>
                {% endfor %}
                
            </div>

            <div class="formulario">
                <h1>Introduzca aqui los cambios del comentario</h1>
                

            <form class="box2" action="" method="post">
                <input type="hidden" id="idEscondido" name="idComentario2" value=0 >
                <textarea type="text" name="comentario" class="coment" id="cm2" placeholder="Introduzca aquí su comentario" onkeyup="comprobarInsultos()"></textarea>
                {% for e in errores%}
                <p style="color: rgb(236, 234, 234);">{{e}}</p>
                {% endfor %}
                
                {% if datosUsuario.tipo==null %}
                <button type="button" onclick="location.href='./login.php'" id="enviar">Identificate para comentar</button>
                {% else %}
                <input type="submit" title="Enviar comentario" name="submit1" id="enviar" value="MODIFICAR COMENTARIO">
                {% endif %}
            </form>

            </div>
            </div>
            {% endblock %}