<html lang="es">
    <head>
        <title>FRUTAS Sandra</title>
        <meta charset="utf-8" />
        <meta name="description" content="Esta es la Tienda online de Fruterías Sandra" />
        <meta name="author" content="Santiago Muñoz Castro(Santi_Yagito22)" />
        <meta name="keywords" content="Mi primera página web, frutas, verduras, aceites, fruterías Sandra, FRUTERÍAS Sandra" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../Scripts/ScriptBusqueda.js"></script>


        {% block Estilo %}
        
        {% endblock %}
        

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    </head>

   
    <body >
       
           
           <div class="cabecera">

            <img class="Logo" src="imgs/Logo.png"  />
            <h1 class="Titulo">Frutas Sandra, en A Coruña <span class="Eslogan"> Frutas y hortalizas de temporada </span></span></h1>
            
            <div class="buscar">
                <input type="search" id="busqueda" placeholder="Buscar evento aqui" >
                
                <div class="resultadosBusqueda" >
                    <table id="tabla">
                        <thead>
                            
                        </thead>

                        <tbody>
                            
                        </tbody>
                        
                    </table>

                </div>
             </div>

            {% if datosUsuario.tipo==null %}
            <a href="./login.php"><img class="perfil" src="imgs/usuario.png"/></a>
            {% else %}
            <a href="./logout.php"><img class="perfil" src="imgs/logout.png"/></a>
            {% endif %}
           
            
           </div>

           
          
           
           
           <!--
                <div class="slider">
                <ul>
                    <li><img src="imgs/Slider3.jpg" ></li>
                    <li><img src="imgs/Slider1.jpg"  ></li>
                    <li><img src="imgs/Frutas.jpg" ></li>
                    <li><img src="imgs/Aceites.jpg" ></li>
                </ul>

           </div>
           -->
          
            

           <div class="menu">
            <ul class=menuResaltar>
                <a href="./index.php"><li>Inicio</li></a>
                <li>Cestas de fruta para regalar</li>
                <li>Contacto</li>

                {% if datosUsuario.tipo=='moderador' or datosUsuario.tipo=='super' %}
                <a href="./comentarios.php"><li>Comentarios</li></a>
                {% endif %}

                {% if datosUsuario.tipo=='super' %}
                <a href="./usuarios.php"><li>Usuarios</li></a>
                {% endif %}

                {% if datosUsuario.tipo=='gestor' or datosUsuario.tipo=='super' %}
                <a href="./crearEvento.php"><li>Crear evento</li></a>
                {% endif %}

                {% if datosUsuario.tipo==null %}
                <a href="./login.php"><li>Perfil</li></a>
                {% else %}
                <a href="./perfil.php"><li>Perfil</li></a>
                {% endif %}


                
            </ul>
            
           </div>

          
            {% block Comentarios %}
           
            {% endblock %}
            
           
           <div class="general">

           <article class="Auxiliar" id="aux">
                
                    <h2>COMER SANO Y DE CALIDAD NUNCA FUE TAN FÁCIL</h1>
            <p>
                En pleno Marqués de Pontejos, en A Coruña puedes encontrar <strong> Frutas Sandra</strong>, con una oferta única de frutas y hortalizas de temporada.
            </p>
                <p><strong> Frutas Sandra</strong> es un comercio de barrio cuya propietaria está enamorada de la calidad de los productos y que se ha convertido en un centro gastronómico de referencia en A Coruña.</p>
            
            <p>En <strong> Frutas Sandra</strong> comercializamos:</p>

            <ul>
                <li>Legumbres a granel de alta calidad y frutos secos</li>
                <li>Huevos caseros</li>
                <li>Variedades de café selecto</li>
                <li>Productos ecológicos y de cercanía</li>
                <li>Golosinas, bollería y snacks</li>
                <li>Vino cosechero y marcas como Ribera del Duero</li>

            </ul>
            <footer>...TE LO LLEVAMOS A DOMICILIO!!!</footer>

            <p>En<strong> Frutas Sandra</strong> formamos parte del movimiento <strong>#LaComidaNoSeTira</strong></p>
           </article>


          

           {% block bloqueCambia %}

            {% endblock %}
         
           </div>   
        

        <div class="pie" id="pie">
            <h3 class="derechos">&copy; 2021 Santiago Muñoz Castro </h3>
            <a href="https://www.facebook.com/santiago.munozcastro.10"><img  src="imgs/facebook.png"/></a>
            <a href="https://www.instagram.com/fruteriasandra/?hl=es"><img  src="imgs/Instagram.png"/></a>

            {% block Imprimir %}
            
            {% endblock %}
        </div>

        
       
           
       <script src="../Scripts/comentarios.js"></script>
    </body>
</html>
